@keyframes showWindow {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }
    30% {
        transform: scale(1.02);
        filter: brightness(120%);
    }
    100% {
        transform: scale(1);
        filter: brightness(100%);
    }
}