/* SO window animations */
@keyframes showWindow {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }
    30% {
        transform: scale(1.02);
        filter: brightness(120%);
    }
    100% {
        transform: scale(1);
        filter: brightness(100%);
    }
}


/* on load animations */
@keyframes breathAnimation {
    0% {
        filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.3));
        opacity: 0.8;
    }
    25% {
        filter: drop-shadow(0 0 3rem rgba(255, 255, 255, 0.3));
        opacity: 1;
    }
    50% {
        filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.3));
        opacity: 0.8;
        
    }
    75% {
        filter: drop-shadow(0 0 1.2rem rgba(255, 255, 255, 0.3));
        opacity: 0.4;
    }
    100% {
        filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.3));
        opacity: 0.8;
    }
}


/* grid animations */
@keyframes gridOnLoad {
    from {
        transform: scale(1.16);
        filter: grayscale(100%);
        opacity: 0;
    }
    to {
        transform: scale(1);
        filter: grayscale(0%);
        opacity: 1;
    }
}

@keyframes onLoadOpen {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes onLoadClose {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.84);
        opacity: 0;
    }
}

/* input animations */
@keyframes inputErrorAnim {
    from {
        background: rgba(255, 0, 0, 0.1);
        box-shadow: 0 0 2rem rgba(255, 0, 0, 0.08);
    }
    to {
        background: transparent;
        box-shadow: 0 0 2rem transparent;
    }
}

@keyframes inputBlinking {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* rain */
@keyframes rainAnimation {
    0% {
      transform: translateY(0rem);
      opacity: 0;
      box-shadow: 0 0 30px transparent;
    }
    20% {
        opacity: 0.1;
        box-shadow: 0 0 44px 1px white;
    }
    50% {
        opacity: 0.3;
        box-shadow: 0 0 30px 1px white;
    }
    70%{
        opacity: 0.1;
        box-shadow: 0 0 44px 1px white;
    }
    100% {
      transform: translateY(36rem);
      opacity: 0;
      box-shadow: 0 0 30px transparent;
    }
}


/* message container */
@keyframes showMessageAnim {
    from { opacity: 0; }
    to { opacity: 1; }
}