.container-desktop {
    background: url('../assets/wallpaper.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#os-desktop {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.os-window {
    background-color: var(--window-v1);
    width: max-content;
    height: max-content;
    border-radius: 0.6rem;
    overflow: hidden;
    position: absolute;
    transition: opacity 400ms, top 1s ease, filter 400ms, box-shadow 20ms, transform 100ms;
    opacity: 0;
    padding: 0.2rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}


/* window controls */

.window-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.window-controls span:nth-child(1) {
    opacity: 0.6;
    padding: 0.6rem 1rem;
    display: block;
    font-weight: 600;
    align-items: center;
    font-size: 0.9rem;
    font-family: var(--second-font);
}

.window-controls span:nth-child(2) {
    opacity: 0.6;
    cursor: pointer;
    padding: 0.6rem 1rem;
    display: block;
    font-weight: 600;
    align-items: center;
    font-size: 0.9rem;
    font-family: var(--second-font);
}

.window-controls span:nth-child(2):hover {
    opacity: 1;
}


/* iframe */

#music-player div iframe {
    width: 35.5rem;
    height: 20rem;
    display: block;
    border-radius: 0.4rem;
}

.iframe-container {
    position: relative;
}

.iframe-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}