#os-desktop {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.os-window {
    background-color: var(--window-v1);
    width: max-content;
    height: max-content;
    border-radius: 0.4rem;
    overflow: hidden;
    position: absolute;
    transition: opacity 400ms, top 1s ease, filter 400ms, box-shadow 20ms, transform 100ms;
    opacity: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}


/* window controls */

.window-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 3rem; */
}

.window-controls span {
    opacity: 0.6;
    margin: 0.4rem;
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: 0.9rem;
    font-family: var(--second-font);
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 0.4rem;
}

.window-controls span:nth-child(1) {
    padding: 0 0.8rem;
}

.closeWindowSPAN {
    /* width: 2rem;
    height: 2rem;  */
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.closeWindowSPAN svg {
    width: 1rem;
    height: 1rem;
    margin: auto;
}

.window-controls span:hover {
    background-color: var(--main-color4);
    opacity: 1;
}


/* iframe */

#music-player {
    width: 35.1rem;
}

#music-player div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 0 0 0.3rem 0.3rem;
    overflow: hidden;
}

.iframe-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* context menu */

#desktop-context-menu {
    background-color: var(--dock-btn-v1);
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0 0;
    font-family: var(--second-font);
    overflow: hidden;
    border-radius: 0.3rem;
    backdrop-filter: blur(10px);
    z-index: -1;
    opacity: 0;
    position: absolute;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border: 0.1rem solid var(--context-menu-item);
    border-left: 0.2rem solid rgba(194, 194, 194, 0.6);
    transition: top 200ms, left 200ms, opacity 400ms;
}

.context-menu-item {
    cursor: pointer;
    padding: 0.4rem 1.6rem;
}

.context-menu-item:hover {
    background-color: var(--context-menu-item);
}

.context-menu-item:active {
    background-color: var(--dock-v1);
}