.os-grid {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-desktop {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#os-desktop {
    background: url('../assets/wallpaper.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: relative;
    overflow: hidden;
}