.os-grid {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    /* background-color: var(--main-color1); */
    /* background: url('../assets/bg/1.jpeg') no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-desktop {
    height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 1;
    /* background: url('../assets/bg/1.jpeg') no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: opacity 600ms;
}