#os-config {
    display: flex;
    flex-direction: column;
    width: 38rem;
    height: 46rem;
    /* height: 30rem; */
    font-family: var(--second-font);
}

#os-config .window-controls .os-config-menu svg {
    width: 1rem;
    height: 1rem;
    margin: auto;
    margin-right: 0.4rem;
    transition: width 500ms 100ms ease, margin-right 500ms 200ms ease;
}


.os-config-grid {
    background-color: var(--main-color1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    position: relative;
}

/* config choice */

#os-config-choice {
    background-color: var(--main-color1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
}

.os-config-title {
    display: block;
    margin: auto auto 2rem auto;
    font-size: 1.2rem;
}

.config-choices-container {
    margin: 0 auto auto auto; 
    display: grid;
    grid-template-columns: 14rem 14rem;
    grid-gap: 1rem 0.6rem;
}

.config-choice-item {
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    position: relative;
    cursor: pointer;
    background-color: var(--main-color2);
    /* border: 0.2rem solid var(--main-color6); */

    /* border-bottom: 0.4rem solid var(--main-color6);
    box-shadow: 0 0 0 0.2rem var(--main-color6); */

    border: 0.2rem solid var(--main-color5);
    box-shadow: 0 0.4rem 0 0.0 var(--main-color5);

    /* transition: background-color 100ms, box-shadow 100ms; */
    /* box-shadow: 0 0 0 0.1rem var(--main-color2); */
}

.config-choice-item:active {
    /* background-color: var(--main-color5);
    box-shadow: 0 0 0 0.1rem var(--main-color6); */
    top: 0.4rem;
    box-shadow: 0 0 0 0.0 var(--main-color5);
}

.config-choice-item span:nth-child(1) {
    color: var(--color-status);
    font-weight: 600;
    display: block;
}

.config-choice-item span:nth-child(2) {
    color: var(--color-sub-status);
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
}



/* os config appearance */

#os-config-appearance {
    background-color: var(--main-color1);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-top: 1rem;
}

#os-config-appearance .os-config-title {
    margin: 2rem auto 1.8rem auto;
}




.config-appearance-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.appearance-choice-item {
    background-color: var(--interface-color6);
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding: 0.8rem 0;
    font-size: 1.2rem;
}

.appearance-item-span {
    opacity: 0.6;
}

.appearance-choice-item:nth-child(1) {
    background-color: var(--main-color1);
}

.appearance-choice-item:hover .appearance-item-span {
    opacity: 1;
}

/* .appearance-choice-item:active {
    background-color: var(--main-color1);
} */

.appearance-choice-item span {
    display: inline-block;
}

/* appearance item */
.appearance-item {
    display: flex;
    background-color: var(--main-color2);
    border-radius: 0.4rem;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.appearance-container {
    display: flex;
    flex-direction: column;
    /* margin-right: 2rem; */
}

.appearance-container span:nth-child(1) {
    font-weight: 600;
    color: var(--color-name);
}

.appearance-container span:nth-child(2) {
    color: var(--color-sub-status);
    font-size: 0.9rem;
}


/* wallpaper config */
#appearance-wallpaper {
    /* width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.4rem;
    padding: 2rem;
    padding-right: 1.2rem;
    border-radius: 0.4rem 0 0 0.4rem; */

    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.4rem;
    overflow: auto;
    /* padding: 0.4rem; */
    padding-left: 0.875rem;
    overflow-x: hidden;
    position: relative;
    border-radius: 0.4rem 0 0 0.4rem;

    scrollbar-color: var(--main-color2) var(--main-color1);
}

#config-theme {
    display: none;
    width: 100%;
    padding: 2rem;
    border-radius: 0.4rem 0 0 0.4rem;
}



/* #config-wallpaper::-webkit-scrollbar {
    width: 0.8rem;
}

#config-wallpaper::-webkit-scrollbar-thumb {
    background: var(--main-color5);
} */


.wallpaper-choice-item {
    cursor: pointer;
    height: max-content;
}

.wallpaper-choice-item:hover img {
    opacity: 1;
    transform: scale(1);
}

.wallpaper-choice-item img {
    border-radius: 0.34rem;
    width: 100%;
    height: 10rem;
    display: block;
    object-fit: cover;
    transform: scale(0.98);
    box-shadow: 0 0 0 0.1rem transparent;
    opacity: 0.8;
    transition: box-shadow 200ms, opacity 200ms, transform 200ms;
}

#appearance-wallpaper [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#appearance-wallpaper [type=radio]:checked + img {
    box-shadow: 0 0 0 0.12rem var(--main-color7);
    opacity: 1;
}

#config-choice-title {
    position: relative;
}

.config-choice-title-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}





  
  /* switch btn */
.appearance-item-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.appearance-item-button input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    height: 0;
    width: 0;
}

.appearance-item-checkmark {
    width: 3rem;
    padding: 0.6rem 0;
    text-align: center;

    background-color: var(--main-color3);
    border-radius: 0.55rem;

    border: 0.2rem solid var(--main-color5);
    box-shadow: 0 0.5rem 0 0.0 var(--main-color5);

    color: var(--color-sub-status);
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
    top: -0.5rem;

}

.appearance-item-button input[type="checkbox"]:checked ~ .appearance-item-checkmark {
    top: 0;
    box-shadow: 0 0 0 0.0 var(--main-color5);
    /* background-color: var(--main-color1); */
}

.appearance-item-checkmark:after {
    content: "OFF";
}

.appearance-item-button input[type="checkbox"]:checked ~ .appearance-item-checkmark:after {
    content: "ON";
}