#os-config {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 30rem;
    font-family: var(--second-font);
}

.os-config-grid {
    background-color: var(--main-color1);
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    overflow: hidden;
    height: 100%;
    position: relative;
}

/* config choice */

#os-config-choice {
    background-color: var(--main-color1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
}

.os-config-title {
    display: block;
    margin: auto auto 2rem auto;
    font-size: 1.2rem;
}

.config-choices-container {
    margin: 0 auto auto auto; 
    display: grid;
    grid-template-columns: 14rem 14rem;
    grid-gap: 0.8rem;
}

.config-choice-item {
    padding: 0.6rem 1.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: 0 0 0 0.1rem var(--main-color2);
}

.config-choice-item:hover {
    background-color: var(--main-color2);
    box-shadow: 0 0 0 0.1rem var(--main-color5);
}

.config-choice-item:active {
    background-color: var(--main-color0);
    box-shadow: 0 0 0 0.1rem var(--main-color3);
}

.config-choice-item span:nth-child(1) {
    color: var(--color-status);
    font-weight: 600;
    display: block;
}

.config-choice-item span:nth-child(2) {
    color: var(--color-sub-status);
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
}



/* os config appearance */

#os-config-appearance {
    background-color: var(--main-color1);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
}

#os-config-appearance .os-config-title {
    margin: 2rem auto 1.8rem auto;
}




.config-appearance-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.appearance-choice-item {
    background-color: var(--window-v1);
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding: 0.8rem 0;
    font-size: 1.2rem;
}

.appearance-item-span {
    opacity: 0.6;
}

.appearance-choice-item:nth-child(1) {
    background-color: var(--main-color1);
}

.appearance-choice-item:hover .appearance-item-span {
    opacity: 1;
}

/* .appearance-choice-item:active {
    background-color: var(--main-color1);
} */

.appearance-choice-item span {
    display: inline-block;
}





#config-wallpaper {
    /* width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.4rem;
    padding: 2rem;
    padding-right: 1.2rem;
    border-radius: 0.4rem 0 0 0.4rem; */

    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.4rem;
    overflow: auto;
    padding: 2rem;
    padding-right: 1.2rem;
    overflow-x: hidden;
    position: relative;
    border-radius: 0.4rem 0 0 0.4rem;
}

#config-theme {
    display: none;
    width: 100%;
    padding: 2rem;
    border-radius: 0.4rem 0 0 0.4rem;
}



#config-wallpaper::-webkit-scrollbar {
    width: 0.8rem;
}

#config-wallpaper::-webkit-scrollbar-thumb {
    background: var(--window-v1);
}

.wallpaper-choice-item {
    cursor: pointer;
    height: max-content;
}

.wallpaper-choice-item:hover img {
    opacity: 1;
    transform: scale(1);
}

.wallpaper-choice-item img {
    border-radius: 0.4rem;
    width: 100%;
    height: 10rem;
    display: block;
    object-fit: cover;
    transform: scale(0.98);
    box-shadow: 0 0 0 0.1rem transparent;
    opacity: 0.6;
    transition: box-shadow 200ms, opacity 200ms, transform 200ms;
}

#config-wallpaper [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#config-wallpaper [type=radio]:checked + img {
    box-shadow: 0 0 0 0.1rem var(--main-color7);
    opacity: 1;
}

#config-choice-title {
    position: relative;
}

.config-choice-title-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}