@charset "utf-8";


/* IMPORTS */

/* OS */
@import url("./grid.css");
@import url("./dock.css");
@import url("./taskbar.css");
@import url("./desktop.css");
@import url("./os-config.css");
/* noto boawser */
@import url("./noto-browser/noto-browser.css");
/* notoryu */
@import url("./notoryu/notoryu.css");
@import url("./notoryu/chat-data.css");
@import url("./notoryu/chat-info.css");
@import url("./notoryu/chat-input.css");
@import url("./notoryu/session-avatar.css");
/* start screen - on load */
@import url("./onload.css");
@import url("./rain.css");
/* global */
@import url("./animation.css");


/* vars */

:root {
    /* by default, dark mode is chosen */
    --main-color0: #131313;
    --main-color1: #161616;
    --main-color2: #1d1d1d;
    --main-color3: #232323;
    --main-color4: #272727;
    --main-color5: #303030;
    --main-color6: #3f3f3f;
    --main-color7: #c2c2c2;
    --main-color8: #eeeeee;

    /* start interface */

        /* start dock */
        --interface-color0: rgba(0, 0, 0, 0.4);              /*    main    */
        --interface-color1: rgba(0, 0, 0, 0.2);              /*    btn 1   */
        --interface-color2: rgba(255, 255, 255, 0.2);        /*    btn 2   */
        --interface-color3: rgba(0, 0, 0, 0.6);              /*    shadow  */
        /* end dock */

        /* start taskbar */
        --interface-color4: rgba(19, 19, 19, 0.4);           /*   main   */
        --interface-color5: 255, 255, 255;                     /*   text   */
        /* end taskbar */

        /* start window */
        --interface-color6: rgb(28, 28, 28);                 /*    main    */
        --interface-color7: rgba(0, 0, 0, 0.8);              /*    shadow  */
        /* end window */

        /* start context menu */
        --interface-color8: rgba(0, 0, 0, 0.4);              /*    item    */
        --interface-color9: rgb(209, 209, 209);              /*    text    */
        --interface-color10: rgba(194, 194, 194, 0.6);       /*    border  */
        /* end context menu */
    
    /* end interface */
    


    /* font color */
    --color-name: rgb(190, 190, 190);
    --color-status: rgb(160, 160, 160);
    --color-sub-status: rgb(130, 130, 130);


    /* fonts */
    --main-font: 'Spartan', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --second-font: 'Nunito', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* size config */
    font-size: 16px;
}

::selection {
    color: black;
    background-color: #acacac;
}

::-moz-selection {
    color: black;
    background-color: #acacac;
}

/* scrollbar */

svg path { fill: white;}

::-webkit-scrollbar {
    width: 0.875rem;
    height: 1.125rem;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 0.375rem;
    border: 0.25rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 0.438rem;
    border-radius: 0.438rem;
    background-color: var(--main-color5);
    -webkit-box-shadow: inset -1px -1px 0px rgb(0 0 0 / 5%), inset 1px 1px 0px rgb(0 0 0 / 5%);
    box-shadow: inset -1px -1px 0px rgb(0 0 0 / 5%), inset 1px 1px 0px rgb(0 0 0 / 5%);
}


/* main tags */

body {
    font-family: var(--main-font);
    color: var(--color-name);
    overflow: hidden;
}

html {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    /* -moz-tap-highlight-color: transparent; */
    user-select: none;
}

a:hover, button:hover, .closeWindowSPAN:hover, label:hover, .custom-cursor-hover:hover, .tb-glow:hover, .chat-choices:hover {
    cursor: url('../assets/icons/hand.png'), auto!important;
}

a {
    color: rgb(69, 168, 255);
    user-select: text;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}


/* global */

.input-error {
    animation: inputErrorAnim 0.6s 1;
}


/* btn active */

button:active {
    position: relative;
    top: 0.2rem;
}

#btn-session-start:active {
    margin-top: 2.6rem;
}

.tb-glow:active, .config-navbar-item div:active, .window-controls span:active, .os-config-menu:active {
    position: relative;
    top: 0.1rem;
}


/* media queries */

@media screen and (max-width: 750px),
screen and (max-height: 800px) {
     :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px),
screen and (max-height: 580px) {
     :root {
        font-size: 10px;
    }

    #os-dock button {
        width: 4rem;
        height: 4rem;
    }
    
    #os-dock button img {
        width: 3rem;
    }

    #os-taskbar {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 380px),
screen and (max-height: 540px) {
     :root {
        font-size: 9px;
    }

    #os-dock button {
        width: 5rem;
        height: 5rem;
    }

    #os-dock button img {
        width: 4rem;
    }

    #os-taskbar {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 320px),
screen and (max-height: 570px) {
     :root {
        font-size: 8px;
    }

    #os-dock button {
        width: 5rem;
        height: 5rem;
    }

    #os-dock button img {
        width: 4rem;
    }

    #os-taskbar {
        font-size: 1.6rem;
    }
}