@charset "utf-8";


/* IMPORTS */

/* OS */
@import url("./grid.css");
@import url("./dock.css");
@import url("./taskbar.css");
@import url("./desktop.css");
@import url("./os-config.css");
/* noto boawser */
@import url("./noto-browser/noto-browser.css");
/* notoryu */
@import url("./notoryu/notoryu.css");
@import url("./notoryu/chat-data.css");
@import url("./notoryu/chat-info.css");
@import url("./notoryu/chat-input.css");
@import url("./notoryu/session-avatar.css");
/* start screen - on load */
@import url("./onload.css");
@import url("./rain.css");
/* global */
@import url("./animation.css");


/* vars */

:root {
    --main-color0: #131313;
    --main-color1: #161616;
    --main-color2: #1d1d1d;
    --main-color3: #232323;
    --main-color4: #272727;
    --main-color5: #303030;
    --main-color6: #3f3f3f;
    --main-color7: #c2c2c2;
    --main-color8: #eeeeee;

    --main-font: 'Spartan', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --second-font: 'Nunito', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* colors v1 */
    --dock-v1: rgba(0, 0, 0, 0.4);
    --dock-btn-v1: rgba(0, 0, 0, 0.2);
    --dock-btn-v2: rgba(255, 255, 255, 0.2);
    --dock-shadow-v1: 0 0.4rem 2rem rgba(0, 0, 0, 0.6);
    --taskbar-v1: rgba(19, 19, 19, 0.2);
    --window-v1: rgb(28, 28, 28);
    --window-shadow-v1: rgba(19, 19, 19, 0.6);
    --context-menu-item: rgba(255, 255, 255, 0.1);

    /* font color */
    --color-name: rgb(190, 190, 190);
    --color-status: rgb(160, 160, 160);
    --color-sub-status: rgb(130, 130, 130);
    /* size config */
    font-size: 16px;
}


/* main tags */

body {
    font-family: var(--main-font);
    color: var(--color-name);
    overflow: hidden;
}

html {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

a {
    color: rgb(0, 136, 255);
    user-select: text;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}


/* global */

.input-error {
    animation: inputErrorAnim 0.6s 1;
}


/* btn active */

button:active {
    position: relative;
    top: 0.2rem;
}

#btn-session-start:active {
    margin-top: 2.6rem;
}

.tb-glow:active, .config-navbar-item div:active, .window-controls span:active, .os-config-menu:active {
    position: relative;
    top: 0.1rem;
}


/* media queries */

@media screen and (max-width: 750px),
screen and (max-height: 800px) {
     :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px),
screen and (max-height: 580px) {
     :root {
        font-size: 10px;
    }

    #os-dock button {
        width: 4rem;
        height: 4rem;
    }
    
    #os-dock button img {
        width: 3rem;
    }

    #os-taskbar {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 340px),
screen and (max-height: 540px) {
     :root {
        font-size: 8px;
    }

    #os-dock button {
        width: 5rem;
        height: 5rem;
    }

    #os-dock button img {
        width: 4rem;
    }

    #os-taskbar {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 290px),
screen and (max-height: 500px) {
     :root {
        font-size: 7px;
    }

    #os-dock button {
        width: 6rem;
        height: 6rem;
    }

    #os-dock button img {
        width: 5rem;
    }

    #os-taskbar {
        font-size: 2rem;
    }
}