#os-taskbar {
    backdrop-filter: blur(2.4rem);
    background-color: var(--dock-v1);
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--second-font);
    font-size: 1rem;
    font-weight: 600;
}

.taskbar-apps, .taskbar-time, .taskbar-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tb-glow {
    cursor: pointer;
    display: flex;
    color: white;
    opacity: 0.8;
    transition: opacity 200ms, letter-spacing 200ms ease, text-shadow 200ms;
    align-items: center;
    font-weight: 600;
    font-family: var(--second-font);
}

.tb-glow:hover {
    opacity: 1;
    text-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.2);
}

.taskbar-info img {
    width: 0.8rem;
    height: 0.8rem;
}