#chat-data {
    background-color: var(--main-color1);
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    user-select: text;
    background-color: var(--main-color1);
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#chat-data::-webkit-scrollbar {
    width: 10px;
}

#chat-data::-webkit-scrollbar-track {
    background-color: var(--main-color1);
}
#chat-data::-webkit-scrollbar-thumb {
    background: var(--main-color3);
}
#chat-data:hover > ::-webkit-scrollbar-thumb {
    background: #d39494;
}

/* message container */
.message-wrapper-container {
    /* background-color: rgb(8, 49, 49); */
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.message-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: brown; */
}

/* user-info */
.mc-user-info {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(77, 18, 104); */
    /* justify-content: center; */
}

/* .mc-user-info span {
    
} */

.mc-user-info span:nth-child(1) {
    color: white;
    margin-top: 0.4rem;
    font-size: 1rem;
}

.mc-user-info span:nth-child(2) {
    color: var(--color-status);
    word-break: break-word;
    font-size: 1rem;
    user-select: text;
}


.new-message-wrapper {
    color: var(--color-status);
    word-break: break-word;
    font-size: 1.04rem;
    user-select: text;
    margin-left: 3.6rem;
}
/* user-info */

.mc-user-avatar {
    width: 3rem;
    height: 3rem;
    display: block;
    object-fit: cover;
    border-radius: 0.4rem;
    margin-right: 0.6rem;
}