.chat-info {
    background-color: var(--window-v1);
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    position: relative;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    font-weight: 600;
}

.user-info span:nth-child(1) {
    color: var(--color-name);
    font-size: 1rem;
    margin-top: 0.4rem;
}

.user-info span:nth-child(2) {
    color: var(--color-status);
    font-size: 0.9rem;
}

.user-avatar {
    margin-right: 0.6rem;
    border-radius: 0.4rem;
    overflow: hidden;
}

.chat-info img {
    width: 3rem;
    height: 3rem;
    display: block;
    object-fit: cover;
    transform: scale(1.2);
    transform-origin: top center;
}