#chat-data {
    height: 30rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    user-select: text;
    background-color: var(--main-color1);
    overflow: auto;
    overflow-x: hidden;
}

#chat-data::-webkit-scrollbar {
    width: 0.6rem;
}

#chat-data::-webkit-scrollbar-track {
    background: var(--main-color1);
}
#chat-data::-webkit-scrollbar-thumb {
    background: var(--main-color2);
}

#chat-data .message-wrapper-container:last-child {
    margin-bottom: 2.2rem;
}

#chat-data .message-wrapper-container:nth-child(2) {
    margin-top: 1rem;
}

#chat-data strong {
    color: var(--color-status);
}


/* message container */
.message-wrapper-container {
    display: flex;
    flex-direction: column;
    opacity: 0;
    margin: 0.5rem 0 0.5rem 0;
    animation: showMessageAnim 600ms forwards;
}

.message-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}


/* user-info */
.mc-user-info {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.mc-user-info span:nth-child(1) {
    color: var(--color-name);
    margin-top: 0.4rem;
    font-size: 1rem;
}

.mc-user-info span:nth-child(2) {
    color: var(--color-sub-status);
    word-break: break-word;
    font-size: 1rem;
    user-select: text;
    white-space: pre-wrap;
}

.mc-user-avatar {
    width: 3rem;
    height: 3rem;
    display: block;
    object-fit: cover;
    border-radius: 0.24rem;
    margin-right: 0.6rem;
}


/* chat data welcome */

#chat-data-welcome {
    height: 30rem;
    display: flex;
    flex-direction: column;
    transition: height 1.8s, opacity 400ms;
    opacity: 1;
    overflow: hidden;
}

#chat-data-welcome img:nth-child(1) {
    width: 6rem;
    opacity: 0.8;
    display: block;
    margin: auto auto 2rem auto;
}

.welcome-span {
    display: flex;
    flex-direction: column;
    margin: 0 auto 2rem auto;
}

.welcome-span span {
    text-align: center;
}

.welcome-span span:nth-child(1) {
    /* margin-bottom: 0.4rem; */
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-status);
}

.welcome-span span:nth-child(2) {
    /* margin-bottom: 0; */
    color: var(--color-sub-status);
    font-weight: 600;
    font-size: 1rem;
}