.notoryu-grid {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    width: 34rem;
    /* height: 40rem; */
    overflow: hidden;
    font-family: var(--second-font);
}

.chat-info,
.chat-input {
    padding: 0.6rem 1rem;
}