.notoryu-grid {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    width: 34rem;
    height: 40rem;
    border-radius: 0.4rem;
    overflow: hidden;
    font-family: var(--second-font);
}

.chat-info,
.chat-input {
    padding: 0.6rem 1rem;
}


/* top - chat info */

.chat-info {
    background-color: var(--window-v1);
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.user-info span:nth-child(1) {
    color: var(--color-name);
    font-weight: 600;
}

.user-info span:nth-child(2) {
    color: var(--color-status);
    font-size: 0.8rem;
}

.user-avatar {
    margin-right: 0.6rem;
    border-radius: 0.4rem;
    overflow: hidden;
}

.chat-info img {
    width: 3rem;
    height: 3rem;
    display: block;
    object-fit: cover;
    transform: scale(1.2);
}


/* bottom - chat input */

.chat-input {
    background-color: var(--main-color0);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}


/* bottom - choices */

.chat-choices {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.chat-choices::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
}

.chat-choices::-webkit-scrollbar-track {
    background-color: var(--main-color3);
}

.chat-choices::-webkit-scrollbar-thumb {
    background: var(--main-color5);
}

.chat-choices span {
    /* background: var(--main-color2); */
    /* display: inline- block; */
    display: flex;
    height: fit-content;
    align-items: center;
    padding: 0 0.4rem;
    margin: auto 0.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 0.16rem dashed transparent;
    transition: background 80ms;
    color: var(--color-status);
}

.chat-choices span:hover {
    background: var(--main-color3);
    transform: scale(1.1);
    overflow: visible;
}

.chat-choices span:active {
    transform: scale(1);
}

.chat-choices:hover span:not(:hover) {
    /* opacity: 0.4; */
    border: 0.16rem dashed var(--main-color3);
}


/* bottom - emotes */

.chat-emotes {
    padding: 0.4rem;
}

.chat-emotes img:nth-child(1) {
    width: 2rem;
    height: 2rem;
    display: block;
    transition: transform 100ms ease;
    cursor: pointer;
}

.chat-emotes img:nth-child(1):hover {
    transform: scale(1.2);
}

.chat-emotes img:nth-child(1):active {
    transform: scale(1);
}